

#banner {
    height: 100vh;
    text-align: center;
    //background-color: black;
    background-color: rgba(25,25,25, .0);
    color: white;
    padding: 0px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }

  #canvas-img {
    img {
      height: 300px;
      width: auto;
    }
  }

  .nuoli {
    margin-top: 30%;
    height: auto;
    width: auto;

    img {
      height: 50px;
      width: 50px;
    }

  }
  .bounce {
    animation: bounce 2s infinite;

  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  .hide-desktop {

    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-size: 60px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    font-family:'Faster One', 'Roboto Condensed', sans-serif;
    height: auto;
    //font-weight: bold;
     p {
       margin: 5px;
     }

  }
  .sumennus{
    width: 100%;
    height: 300px;
    background: linear-gradient(0deg, rgba(17,18,23,1) 10%, rgba(238,238,238,0) 100%);
    //position: absolute;
    bottom: 0;
  }
  .first-text {

  }
  .second-text {

  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    text-align: center;
    border-radius: 20px;
  }

  .close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close-modal:hover,
  .close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  //----------------------------------------------------- DESKTOP --------------------------------------
  @media only screen and (min-width: 768px) {
    #banner {
        height: 75vh;
        text-align: center;
        background-color: rgba(25,25,25, .0);
        color: white;
        padding: 0px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

      }
      .sumennus {
        display: none;
      }

      .hide-desktop {
        display: none;
      }

      .nuoli {
        margin-top: 50px; 
      }


      #canvas-img {
       img {
         width: auto;
         height: 50vh;
       }
      }
  }
