

#section3 {
    padding-top: 200px;
    height: auto;
    text-align: center;
    //background-color: black;
    background-color: #111217;
    padding-bottom: 20px;
    text-align: center;
    margin-top: -200px;
    /*-webkit-clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 100%);*/

    h2 {
      font-size: 250%;
      color: white;
      margin: 10px;
    }
  }

  .mobile-roster {
    display: flex;
  }

  #substitute-container {
    //margin-right: 125px;
  }

  #substitute-wrap{
    display: flex;
    //flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
  }

  #roster-wrap{
    display: flex;
    //flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  #academy-wrap{
    //flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }

  #caster-container {
  }
  #caster-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }

  .roster-item {
    display: flex;
    height: 290px;
    width: 190px;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    justify-content: center;

  }

  .roster-image{
    background-color: transparent;
    height: 100%;
    width: 100%;
    //padding: 20px;

    img {
      //border-radius: 10px;
      height: 100%;
      width: 100%;
    }

  }


  .roster-text {
    font-size: 20px;
    color: white;
    p {
      margin: 5px;
    }
    a:link {
      color: darkgray;
    }
    b{
      font-size: 150%;
    }
  }

  .caster-roster-wrapper {
    //display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    
  }

  #section3 .show-more-text{
    margin: 0px;
    font-size: 150%;
    color: white;

    :hover {
      cursor: pointer;
    }

  }

  #section3 .arrow {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
  }
  
  .flip {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
//    transform-origin: center right;
    transition: transform 0.5s;
   // perspective: 1000px;
  }
  .flip.flipped {
    transform: rotateY(-180deg);
  }

  .flipable {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip .front {
    background: black;
  }

  .flip .back {
    transform: rotateY(180deg);
    background: black;
  }


//---------------DESKTOP-----------------------------
@media only screen and (min-width: 768px) {

    #section3 {
        padding-top: 30px;
        min-height: auto;
        text-align: center;
        //background-color: black;
        background-color: rgba(25,25,25, .0);
        padding-bottom: 200px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 150px;



        -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
        h2 {
          font-size: 250%;
          padding-top: 100px;
          color: white;
        }
      }
      .caster-roster-wrapper {
        //display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
      }

      .mobile-roster {
        display: none;
     }

     .desktop-roster {
       display: flex;
     }

      #substitute-container {
        //margin-right: 125px;
      }

      #roster-wrap{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 100px
      }

      #academy-wrap{
        //display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 100px
      }

      #caster-wrap{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;
      }

      .roster-item {
        display: flex;
        height: 290px;
        width: 190px;
        flex-direction: column;
        box-shadow: 0 4px 8px 0 rgba(228, 228, 228, 0.2), 0 6px 20px 0 rgba(183, 183, 183, 0.2);
        background-color: black;
        margin: 2vw;
        :hover {
        //box-shadow: 0 4px 8px 0 rgba(183, 183, 183, 0.2), 0 6px 20px 0 rgba(183, 183, 183, 0.19);
        }
      }

      #roster  {
        padding: 20px;
       }

      .roster-image{
        margin: 0px;
        height: 100%;
        width: 100%;
        padding: 0px;
        .cover {
        }

        img{
          border-radius: 0;
          height: 100%;
          width: 100%;
        }
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
        background: rgb(252,255,244); /* Old browsers */
        background: -moz-linear-gradient(-45deg, rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      }

      .roster-text {
        font-size: 100%;
        color: white;
        b{
          font-size: 150%;
        }
      }

      #substitute-wrap{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 50px;
      }
}
//----------------------LARGER SCREENS------------------------------
@media only screen  and (min-width : 1824px) {
    #substitute-container {
        margin-right: 250px;
      }


      #standings-content {
        padding: 50px;
      }
}
