

#section4{
    //padding-top: 150px;
    height: auto;
    text-align: center;
    background: linear-gradient(180deg, rgba(17,18,23,1) 1%, rgba(17,18,23,0.6446953781512605) 8%, rgba(17,18,23,0) 16%);
    padding-bottom: 10px;
    text-align: center;
    margin-top: -1px;
    padding-top: 200px;
    //-webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
    //clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
    color: white;
    h1 {
      font-size: 250%;
      padding-top: 50px;
    }
  }
  /*.sumennus-section4{
    width: 100%;
    height: 100px;
    //background: rgb(17,18,23);
    //background: linear-gradient(180deg, rgba(17,18,23,1) 21%, rgba(17,18,23,0) 100%);
    //position: absolute;
    //top: 0;
    
  }*/

  .matches-content {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   align-content: flex-start;
   text-align: center;
   font-size: 13px;
  }

  .color-codes{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content:center;
  }

  .square{
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 2px;
  }

  #upcoming {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
  }

  #results{
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .match-list{
    list-style-type: none;
    outline: none;
    text-align: center;
    padding-left: 0;
    button {
      all: unset;
      font-size: 15px;
      width: 90%;
      height: 2em;
      background-color: #EAE9E9;
      padding: 10px;
      //padding-bottom: 20px;
      margin: 5px;
      //margin-bottom: 20px;
      outline: none;
      box-shadow: 0 4px 8px 0 rgba(60, 60, 60, 0.2), 0 6px 20px 0 rgba(60, 60, 60, 0.19);

      //border-radius: 10px;

      :hover{
        //box-shadow: 0 4px 8px 0 rgba(130, 130, 130, 0.2), 0 6px 20px 0 rgba(130, 130, 130, 0.19);
      }
    }
  }

  .show-more-container {
    width: auto;
    height: 75px;
    text-align: center;

    :hover {
      cursor: pointer;
    }
  }

  #section4.show-more-text{
    margin: 0px;
    font-size: 150%;
    color: black;

    :hover {
      cursor: pointer;
    }

  }

  #section4.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .match-item{
  }

  .match-info{
    color: white;
    font-size: 16px;
    display:none;
    width: 90%;
    padding: 10px 10px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .match-info a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .upcoming {
    color: black;
  }
  

//---------------DESKTOP-----------------------------
@media only screen and (min-width: 768px) {

    #section4{
        height: auto;
        padding-top: 150px;
        text-align: center;
        background: none;
        background-color: white;
        padding-bottom: 50px;
        text-align: center;
        margin-top: -200px;
        display: flex;
        flex-direction: column;
        -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
        color: black;
        h1 {
          font-size: 250%;
        }
      }

      #standings-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
      }

      .league{
        margin: 0px 50px 0px;
      }

      #standings-header{
        padding-top: 100px;
      }
      #matches-header{

      }
      .matches-content {
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: flex-start;
       align-content: flex-start;
       font-size: 16px;
      }

      #upcoming {
        display: inline-block;
        width: 40%;
        height: 100%;
        top: 0;
      }

      #results{
        display: inline-block;
        width: 40%;
        height: 100%;
        top: 0;

      }

      .match-list{
        list-style-type: none;
        outline: none;

        button {
          all: unset;
          //display:flex;
          width: 90%;
          height: 2em;
          background-color: #EAE9E9;
          padding: 10px;
          margin: 15px;
          margin-left: auto;
          margin-right: auto;
          outline: none;
          box-shadow: 0 4px 8px 0 rgba(60, 60, 60, 0.2), 0 6px 20px 0 rgba(60, 60, 60, 0.19);
          :hover{
            //box-shadow: 0 4px 8px 0 rgba(130, 130, 130, 0.2), 0 6px 20px 0 rgba(130, 130, 130, 0.19);
          }
        }
      }

      @supports (-ms-ime-align: auto) {
        .match-list {
          button {
            width: 90%;
            height: 55px;
          }
        }
        .match-info {
          width: 90%;
          padding: 10px 0px;
        }
        .match-info a {
            position:absolute;
        }
      }

      .spacer {
        flex-grow: 1;
      }

      li {
        cursor: pointer;
      }

      .match-item{
      }

      .match-info{
        display:none;
        max-width: 100%;
      }
      .match-info a {
        position:absolute;
      }
      .show-more-text{

        cursor: pointer;

      }

      .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
      }
}
